body{
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: silver;
    font-family: 'Play', sans-serif;
}

.container {
    
    display: flex;
    justify-content: center;
    background: transparent;
    
    margin: 15px;
}

.container-elementos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
    column-gap: 50px;
    row-gap: 10px;
}

.container-elementos-reducidos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    
    column-gap: 50px;
    row-gap: 10px;
}

.campo {
    justify-content: center;
    align-items: center;
}

.bton {
    display: flex;
}

.opcion {
    margin-top: 15px;
}

#combo, .input{
    width: 200px;
    border: solid #0096c7;
}

.container-titulo {
    display: flex;
    justify-content: center;
}

.boton {
    border: #0096c7 solid;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    
    transition: .8s;
    
    margin: 15px;
}

.boton:hover {
    background-color: #0096c7;
    color: cornsilk;
}

.container-renombrar {
    width: 800px;
    border: solid silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}